*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#class files
bin/

#eclipse settings file
.settings/

# Scala-IDE specific
.scala_dependencies

# vim temporary file
*~
*.swp
*.swo

# data files
*.csv
*.scidb
*.jpg
*.png
*.bak
.DS_STORE

#propietary uf code
matlab/uf/
